@model IEnumerable<SupplierDatabase.Models.SupplierViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Welcome to Supplier Database System</h3>
    <p class="lead">Use the button below to add new Supplier details and a search bar to display the supplier’s telephone
number.</p>
    <p><a href="~/Home/Supplier" class="btn btn-primary">Add Supplier Details &raquo;</a></p>
</div>
<div class="row">
    <div class="form-inline text-center">
        <form action="~/Home/Index" method="get"><p> Search By Company Name<input type="text" class="form-control" name="Name" /><button class="btn btn-primary">Search</button></p></form>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
            </tr>
        }

    </table>

</div>